*{
    font-family: Arial;
}

/* Header */

.header {
    display: flex;
    background-color: lightblue;
    padding: 10px;
}

.header-logo {
    margin-top: auto;
    margin-bottom: auto;
}

.header-logo img{
    height: 100px;
}

.header-title {
    margin-top: auto;
    margin-bottom: auto;
}

.header-title a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

/* Nav Bar */

.nav {
    background-color: lightsteelblue;
    padding: 20px;
    margin-top: 0px;
}

.nav-item {
    display: inline-block;
    margin-left: 20px;
    height: 20px;
}

.nav-item a {
    color: black;
    text-decoration: none;
    
}

.nav-item a:hover {
    color: lightslategray;
}

/* Konten */

.konten {
    width: 80%;
    margin: auto;
}

.konten h1 {
    color: lightgreen;
    font-size: 35px;
}

.konten h2 {
    font-size: 22px;
    color: lightblue;
}

/* tabel */

.tabel {
    border-spacing: 4px;
}

.tabel-header {
    background-color: lightblue;
}

.tabel-header th {
    padding: 10px;
    text-align: left;
}

.tabel-konten {
    background-color: lightblue;
}

.tabel-konten-genap {
    background-color: lightskyblue;
}

.tabel-konten td {
    padding: 10px;
}

td > img {
    width: 150px;
}

.tabel-konten:hover {
    background-color: lightsalmon;
}

.tabel-konten-genap:hover {
    background-color: lightsalmon;
}

/* form */

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: lightseagreen;
    font-size: 24px;
}

.form-group input {
    display: block;
    margin-top: 10px;
    width: 60%;
}

.form-group textarea {
    display: block;
    margin-top: 10px;
    height: 150px;
    width: 60%;
}

.btn {
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    background-color: green;
    border-radius: 25px;
    border: 0px;
    color: white;
}

.btn:hover {
    background-color: greenyellow;
}